html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Calibri, Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper, header, footer {
    width: 100%;
}

.wrapper > *, header > *, footer > * {
    position: relative;
    max-width: 1440px;
    padding: 10px 20px;
    margin: 0 auto;
}

.wrapper > .inner {
    background: bisque;
}

.inner {
    box-sizing: border-box;
}

/** HEADER **/
header {
    background: coral;
}

header > .inner {
    height: 220px;
    background: #e56b3e;
}

.logo {
    position: absolute;
    width: 120px;
    height: 160px;
    left: 20px;
    top: 20px;
    background: bisque;
}

.phone {
    position: absolute;
    width: 240px;
    height: 28px;
    right: 20px;
    top: 20px;
    background: bisque;
}

.telegram {
    position: absolute;
    width: 180px;
    height: 28px;
    right: 20px;
    top: 68px;
    background: bisque;
}

#hamburger { display: none; }

.overlay-to-close { display: none; }

.nav {
    position: absolute;
    top: 74px;
    left: 50%;
    width: 740px;
    transform: translate(-50%, 0);
}

.nav__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nav__list li {
    list-style-type: none;
}

.nav__list a {
    color: #573327;
}

/** MAIN **/
.card-holder {
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: blanchedalmond;
}

.some-card {
    display: flex;
    flex: 0 1 24%;
    width: 280px;
    height: 400px;
    margin: 0 0 40px 0;
    background: chocolate;
}

/** FOOTER **/
footer {
    background: burlywood;
    margin-top: auto;
}

footer > .inner {
    height: 180px;
    background: #cba16c;
}

.footer-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 740px;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-menu__link {
    display: block;
    height: 22px;
    list-style-type: none;
    flex-shrink: 0;
    background: #b1926a;
}

.copyright {
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: 220px;
    height: 18px;
    transform: translate(-50%, 0);
    background: #b1926a;
}

@media (max-width: 1440px) {
    .wrapper > *,
    header > *,
    footer > * {
        max-width: 1020px;
    }

    header > .inner {
        overflow-x: hidden;
        overflow-y: visible;
    }

    .nav {
        position: fixed;
    }

    #hamburger ~ .nav {
        z-index: 2;
        right: -376px;
        top: 0;
        left: auto;
        transition: right .3s;
    }

    #hamburger:checked ~ .nav {
        display: block;
        right: 0;
    }

    #hamburger:checked ~ .overlay-to-close {
        z-index: 1;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .hamburger-button {
        position: absolute;
        display: block;
        width: 28px;
        height: 28px;
        border: solid 3px white;
        top: 20px;
        right: 20px;
    }

    .hamburger__dash {
        display: block;
        position: absolute;
        width: 20px;
        height: 2px;
        background: #fff;
    }

    .hamburger__dash_line-1 {
        top: 8px;
        left: 4px;
    }

    .hamburger__dash_line-2 {
        top: 12px;
        left: 4px;
    }

    .hamburger__dash_line-3 {
        top: 16px;
        left: 4px;
    }

    .nav {
        width: 300px;
        background: #c9643e;
        border: 2px solid #fff;
        transform: none;
    }

    .nav__list {
        flex-direction: column;
    }

    .nav__list li {
        display: block;
        float: none;
        height: 28px;
        line-height: 24px;
        padding: 2px;
        border-bottom: 2px solid #fff;
        text-align: left;
    }

    .phone,
    .telegram {
        right: auto;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .some-card {
        flex: 0 1 32%;
    }
}

@media (max-width: 1000px) {
    .wrapper > *,
    header > *,
    footer > * {
        max-width: 760px;
    }

    .some-card {
        flex: 0 1 49%;
    }

    .footer-menu {
        box-sizing: border-box;
        width: calc(100% - 40px);
        left: 20px;
        right: 20px;
        transform: none;
    }
}

@media (max-width: 768px) {
    .wrapper > *,
    header > *,
    footer > * {
        max-width: 760px;
    }

    .some-card {
        flex: 0 1 49%;
    }

    .footer-menu {
        top: 50px;
        box-sizing: border-box;
        width: calc(100% - 40px);
        left: 20px;
        right: 20px;
        transform: none;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-menu__link {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    .wrapper > *,
    header > *,
    footer > * {
        max-width: 570px;
    }

    header > .inner {
        height: 173px;
    }

    .logo {
        width: 100px;
        height: 133px;
    }

    .some-card {
        flex: 0 1 100%;
        margin: 0 0 20px 0;
    }

    .phone {
        width: 200px;
    }

    .telegram {
        width: 160px;
    }

}

@media (max-width: 480px) {
    header > .inner {
        height: 170px;
    }

    .footer-menu {
        top: 30px;
        flex-direction: column;
    }

    footer > .inner {
        height: 300px;
    }

    .phone {
        width: 170px;
        top: 87px;
        transform: translate(0%, 0);
        left: auto;
        right: 20px;
    }

    .telegram {
        width: 120px;
        top: 125px;
        transform: translate(0%, 0);
        left: auto;
        right: 20px;
    }
}

@media (max-width: 320px) {
    body {
        min-width: 320px;
    }

    header > .inner {
        height: 150px;
    }

    .logo {
        width: 80px;
        height: 107px;
    }

    .phone {
        top: 60px;
    }

    .telegram {
        top: 99px;
    }
}
